@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --sidebar-width: 5rem;
    --sidebar-item-size: calc(var(--sidebar-width) * 0.8);
    --page-padding: 1rem;
}
@layer components{

    /* ICON STYLES */
    .iconBackground{
        @apply bg-slate-600 hover:bg-slate-700;
    }
    .iconTextStyle{
        @apply text-white font-bold hover:text-slate-400;
    }
    .iconTransition{
        @apply transition duration-300 ease-in-out;
    }

    /* SIDEBAR STYLES */
    .sidebar{
        @apply fixed top-4 left-4 h-1/2 
        flex flex-col justify-start items-center gap-4 
        m-0 pt-10 
        shadow-2xl bg-gray-900 rounded-3xl;
        width: var(--sidebar-width);
    }
    .sidebarItem{
        @apply flex justify-center items-center rounded-3xl;
        width: var(--sidebar-item-size);
        height: var(--sidebar-item-size);
        font-size: calc(var(--sidebar-item-size) / 2);
    }

    /* PORTFOLIO ITEM CONTAINER */

    .portfolioItemContainer{
        @apply flex flex-row flex-wrap absolute top-4 gap-5;
        /* LEFT IS SIDEBAR WITH + PAGE PADDING */
        left: calc(var(--sidebar-width) + var(--page-padding) + var(--page-padding));
    }
    
}