@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --sidebar-width: 10vh;
    --sidebar-item-size: calc(var(--sidebar-width) * 0.8);
    --page-padding: 1rem;
}
@layer components{

/* ------------------ UNIVERSAL STYLES ------------------ */
    /* UTILS */




    /* ICON STYLES */
    .iconBackground{
        @apply bg-slate-600 hover:bg-slate-700;
    }
    .iconTextStyle{
        @apply text-white font-bold hover:text-slate-400;
    }
    .iconTransition{
        @apply transition duration-300 ease-in-out;
    }

    /* SIDEBAR STYLES */
    .sidebar{
        @apply fixed h-full m-0
        flex flex-col justify-evenly items-center
        bg-gray-900 sidebarRounding;
        top: var(--page-padding);
        left: var(--page-padding);
        height: calc(100% - var(--page-padding) * 2);
        width: min(var(--sidebar-width), 25vw);
    }
    .sidebarItem{
        @apply flex justify-center items-center sidebarRounding iconBackground iconTextStyle iconTransition;
        width: min(calc(var(--sidebar-width) * 0.8), 20vw);
        height: calc(var(--sidebar-width) * 0.8);
        font-size: calc(calc(var(--sidebar-width) * 0.8) / 2);
    }

    .sidebarRounding{
        @apply rounded-3xl;
        /* border-radius: calc(var(--sidebar-width) / 10 * 3); */
    }

    /* PORTFOLIO ITEM CONTAINER */

    .portfolioItemContainer{
        @apply flex flex-row bg-cyan-700 rounded-3xl justify-evenly;
        gap: min(var(--page-padding), 5vw);
        padding: var(--page-padding);
    }

    /* PORTFOLIO ITEM STYLES */
    .portfolioItem{
        @apply rounded-3xl iconBackground iconTransition;
        padding: 1vh;
        height: min(100%, 20vw);
        aspect-ratio: 1;
        max-height: 30vw;
    }

    .portfolioItemText{
        @apply w-full h-full text-center rounded-3xl 
        flex flex-col content-center justify-center 
        iconTextStyle iconTransition;
        font-size: 2vh;
    }
 
    /* PAGE CONTAINER STYLES */
    .pageContainer{
        @apply bg-cyan-600 h-screen w-screen flex flex-col;
        /* LEFT IS SIDEBAR WIDTH + PAGE PADDING */
        padding: var(--page-padding) var(--page-padding) var(--page-padding) calc(var(--sidebar-width) + var(--page-padding) + var(--page-padding)); /* FORMAT IS TOP RIGHT BOTTOM LEFT */
    }


/* ------------------ DESKTOP STYLES ------------------ */



/* ------------------ MOBILE STYLES ------------------ */

    .msidebar{
        /* SIDEBAR ON TOP */
        @apply fixed m-0
        flex flex-row justify-evenly items-center
        bg-gray-900 sidebarRounding;
        top: var(--page-padding);
        left: var(--page-padding);
        width: calc(100% - var(--page-padding) * 2);
        height: min(var(--sidebar-width), 25vw);
    }

    .mpageContainer{
        @apply bg-cyan-600 h-screen w-screen flex flex-col;
        /* TOP IS SIDEBAR WIDTH + PAGE PADDING */
        padding: calc(var(--sidebar-width) + var(--page-padding) + var(--page-padding)) var(--page-padding) var(--page-padding) var(--page-padding); /* FORMAT IS TOP RIGHT BOTTOM LEFT */    
    }

}